<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>
    <link rel="stylesheet" href="/css/tags/tag-list.css" />
</head>
<body>

<header>
    <!-- Include the navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>
</header>

<div class="container">
    <h1>Tags</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tag : ${tags}">
            <td th:text="${tag.tagId}"></td>
            <td th:text="${tag.name}"></td>
            <td>
                <a th:href="@{/api/v1/tag/edit/{id}(id=${tag.tagId})}">Edit</a> |
                <a th:href="@{/api/v1/tag/delete/{id}(id=${tag.tagId})}" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/api/v1/tag/create}">Add New Tag</a>
</div>

</body>
</html>